* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000;
    width: 350px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
/* nav section */

.navbar {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    background-color: #121212;
    line-height: 2.4rem;
    opacity: 0.7;
}
.nav-option:hover {
    opacity: 1;
}

.nav-option a {
    background-color: #121212;
    font-size: 1.25rem;
    margin-left: 1rem;
}
.nav-option a:hover {
    font-size: 1.27rem;
}

.nav-option i {
    background-color: #121212;
    font-size: 1.25rem;
    margin-right: 1rem;
}
.nav-option i:hover {
    font-size: 1.27rem;
}

.navbar .nav-option a {
    text-decoration: none;
    color: white;
}

/* Library section */

.sidebar .library {
    border-radius: 1rem;
    background-color: #121212;
    height: 100%;
    margin-top: 0.5rem;
}

.options {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
}

.lib-opt img {
    background-color: #121212;
    height: 1.2rem;
    width: 1.2rem;
}
.lib-opt a {
    background-color: #121212;
}

.icons {
    background-color: #121212;
}
.icons i {
    background-color: #121212;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.icons i:hover {
    opacity: 1;
}

/* box section */
.lib-boxes {
    background-color: #121212;
}
.box {
    background-color: #232323;
    border-radius: 1rem;
    height: 7rem;
    margin: 0.75rem 0 0.75rem 0;
    padding: 1rem 1.25rem;
}
.box .box-p1 {
    font-size: 1rem;
    background-color: #232323;
    font-weight: 550;
    line-height: 1.3rem;
}
.box .box-p2 {
    background-color: #232323;
    font-size: 0.85rem;
    opacity: 0.9;
    line-height: 2rem;
}
.badge {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 650;
    margin-top: 2rem;
    height: 2rem;
    width: fit-content;
    transition: all 0.2s ease;
}
.box .badge:hover {
    transform: scale(1.1);
}


.main-content {
    background-color: #1f1f1f;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}
.sticky-nav {
    position: sticky;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.sicky-icons {
    margin-left: 0.75rem;
}

.sicky-icons img {
    font-size: 2re;
}

.sticky-options {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.nav-items {
    margin-right: 1.5rem;
}

.sticky-badge {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 650;
    height: 2rem;
    width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
    opacity: 0.7;
    transition: all 0.1s ease-in;
}
.dark-badge:hover {
    opacity: 1;
}

.user-icon {
    margin-right: 15px;
    font-size: 20px;
    opacity: 0.7;
}
.user-icon:hover {
    opacity: 1;
}
.sticky-icons1 {
    opacity: 0.7;
}
.sticky-icons1:hover {
    opacity: 1;
}
.sticky-icons2 {
    opacity: 0.7;
}
.sticky-icons2:hover {
    opacity: 1;
}
.plyaer {
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}